[Unit]
Description=Glancy Backend Service
After=network.target

[Service]
User=ecs-user
WorkingDirectory=/home/ecs-user/glancy-backend
EnvironmentFile=/home/ecs-user/glancy-backend/.env
ExecStart=/usr/bin/java -jar /home/ecs-user/glancy-backend/target/glancy-backend.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/truncate -s 0 /home/ecs-user/glancy-backend/backend.log
StandardOutput=append:/home/ecs-user/glancy-backend/backend.log
StandardError=append:/home/ecs-user/glancy-backend/backend.log

[Install]
WantedBy=multi-user.target
